# ไม่เอาไฟล์ที่ลงท้ายด้วย .exe (Windows)
*.exe

# ไม่เอาไฟล์ที่ลงท้ายด้วย .o หรือ .obj (Object files)
*.o
*.obj

# ไม่เอาโฟลเดอร์เก็บการตั้งค่าของ VS Code
.vscode/

# ไม่เอาไฟล์ผลลัพธ์จากการคอมไพล์บน Mac/Linux
*.out